#navbar{
    backdrop-filter: blur(10px);
    background: rgba(225,225, 225, 0.095);
    padding: 0px 1rem;
}

.nav-link{
    font-size: 1.1rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    position: relative;
    color: #fff;
    text-decoration: none;
}

.nav-link.active::before{
    content: '';
    position: absolute;
    width: 110%;
    height: 110%;
    bottom: 1%;
    left: 50%;
    border-radius: 10px;
    transform: translateX(-50%);
    transition: all 0.3s ease-in-out;
    z-index: -1;
    backdrop-filter: blur(300px);
    transition: all ease-in-out 0.3s;
}

.nav-link:hover::after, .nav-link.active::after{
    width: 100%;
}