#navbar{
    backdrop-filter: blur(10px);
    background: rgba(5, 27, 61, 0.75);
    border-bottom: 3px solid rgba(255, 255, 255, 0.1);
    padding: 0px 1rem;
}

.nav-link{
    font-size: 1.1rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    position: relative;
}

.nav-link::after{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 50%;
    width: 0;
    height: 3px;
    border-radius: 50px;
    background: #3b82f6;
    transform: translateX(-50%);
    transition: all 0.3s ease-in-out;
}

.nav-link:hover::after, .nav-link.active::after{
    width: 100%;
}