.nav-link{
    color: rgba(128, 128, 128, 0.637);
    transition: all 0.3s ease-in-out;
    padding: 0.5rem 1rem !important;
    border-radius: 0.5rem;
}
.nav-link:hover{
    cursor: pointer;
    background-color: #031633;
}

.nav-link.active{
    color: #031633;
    background-color: #fafafaf3;
}

.nav-link.active:hover{
    color: #031633;
    background-color: #e0e0e0;
}
