.nav-link{
    color: rgba(128, 128, 128, 0.637);
    padding-left: 1rem !important;
}
.nav-link:hover{
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    transform: translateX(6px) !important;
}

.nav-link.active{
    transition: all 0.3s ease-in-out;
    color: #fff;
    text-shadow: 0px 0px 10px #fff;
    border-left: #fafafa solid 3px;
}

.nav-link.active:hover{
    transform: translateX(0px) !important;
}