@import url('https://fonts.googleapis.com/css2?family=Italianno&display=swap');

#home{
    position: relative;
    overflow: hidden;
}

.background {
    position: absolute;
    inset: 0;
    z-index: 0;
    bottom: 50%;
    pointer-events: none;
    overflow: hidden;
}

.soft-aurora-container {
    position: absolute;
    z-index: 0 !important;
    inset: 0;
    width: 100%;
    height: 100%;
}

.soft-aurora-container canvas {
    width: 100%;
    height: 100%;
}

.hero-content{
    z-index: 2;
    position: relative;
}

.hero-content .hero-title{
    font-size: 3.2rem;
    font-weight: 600;
    color: #fff;
    margin-top: 1rem;
}

.hero-content .hero-subtitle{
    font-size: 3.5rem;
    word-spacing: 1rem;
    color: #fff;
    margin-top: 1rem;
}
 
.font-italianno{
  font-family: 'Italianno';
}

.mobile-bg {
  position: absolute;
  inset: 0;

  background:
    radial-gradient(
      circle at 20% 25%,
      royalblue,
      transparent 20%
    ),
    radial-gradient(
      circle at 80% 60%,
      #fff,
      transparent 20%
    );

  background-size: 140% 140%, 140% 140%, 100% 100%;
  background-position: 0% 0%, 100% 100%, 0 0;

  animation: ambientMove 2s ease-in-out infinite alternate;
}

@keyframes ambientMove {
  from {
    background-position: 0% 0%, 100% 100%, 0 0;
  }

  to {
    background-position: 20% 10%, 80% 90%, 0 0;
  }
}

.stat-features {
  margin-left: 1.2rem;
  margin-bottom: 0.5rem;
}

#wib .alive{
  position: relative;
  background: #080863;
}

#wib .alive::before{
  content: '';
  position: absolute;
  width: 7%;
  height: 10%;
  bottom: -5px;
  right: -5px;
  background-color: #fafafa;
}

#wib .alive::after{
  content: '';
  position: absolute;
  width: 7%;
  height: 10%;
  top: -5px;
  left: -5px;
  background-color: #fafafa;
}