@import url('https://fonts.googleapis.com/css2?family=Italianno&display=swap');

#home{
    position: relative;
    overflow: hidden;
}

.background {
    position: absolute;
    inset: 0;
    z-index: 0;
    top: -80%;
    pointer-events: none;
    overflow: hidden;
}

.hero-content{
    z-index: 2;
    position: relative;
}

.hero-content .hero-title{
    font-size: 3.2rem;
    font-weight: 600;
    color: #fff;
    margin-top: 1rem;
}

.hero-content .hero-subtitle{
    font-size: 3.5rem;
    word-spacing: 1rem;
    color: #fff;
    margin-top: 1rem;
}
 
.font-italianno{
  font-family: 'Italianno';
}

.stat-features {
  margin-left: 1.2rem;
  margin-bottom: 0.5rem;
}

#wib .alive{
  position: relative;
  background: #080863;
}

#wib .alive::before{
  content: '';
  position: absolute;
  width: 7%;
  height: 10%;
  bottom: -5px;
  right: -5px;
  background-color: #fafafa;
}

#wib .alive::after{
  content: '';
  position: absolute;
  width: 7%;
  height: 10%;
  top: -5px;
  left: -5px;
  background-color: #fafafa;
}