@import url('https://fonts.googleapis.com/css2?family=Italianno&display=swap');

#home{
    position: relative;
    overflow: hidden;
}

.background {
    position: absolute;
    inset: 0;
    z-index: 0;
    top: -80%;
    pointer-events: none;
    overflow: hidden;
}

.hero-content{
    z-index: 2;
    position: relative;
}

.hero-content .hero-title{
    font-size: 3.2rem;
    font-weight: 600;
    color: #fff;
    margin-top: 1rem;
}

.hero-content .hero-subtitle{
    font-size: 3.5rem;
    word-spacing: 1rem;
    color: #fff;
    margin-top: 1rem;
}
 
.font-italianno{
  font-family: 'Italianno';
}

.stat-features {
  margin-left: 1.2rem;
  margin-bottom: 0.5rem;
}

#wib .alive{
  position: relative;
  background: #080863;
  border: 2px solid white;
}

#wib .alive::before{
  content: '';
  position: absolute;
  width: 7%;
  height: 10%;
  bottom: -5px;
  right: -5px;
  background-color: #fafafa;
}

#wib .alive::after{
  content: '';
  position: absolute;
  width: 7%;
  height: 10%;
  top: -5px;
  left: -5px;
  background-color: #fafafa;
}

/* ================================
   POWERING THE PORTFOLIO
================================ */

#stack {
  position: relative;
  min-height: 100vh;
  padding: 100px 20px;
  overflow: hidden;
}

.stack-container {
  display: flex;
  gap: 0;
  overflow: hidden;
  flex-direction: column;
}

.stack-card {
  position: relative;
  flex: 0 0 320px;
  background: #05103b;
  border: 1px solid #373781;
  padding: 2rem;
  border-radius: 20px;
}

@media (min-width: 768px){
  .stack-container{
    gap: 2rem;
    flex-direction: row;
  }
  .stack-card{
    background: #050814;
    border: 1px solid #08086387;
  }
}