@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Manrope:wght@200..800&family=Syne:wght@400..800&display=swap');
@import url('https://fonts.cdnfonts.com/css/aquire');

:root{
  --font-heading: "Syne", sans-serif;
  --font-body: "Manrope", sans-serif;
  --font-code: "JetBrains Mono", monospace;
  --font-aquire: "Aquire";
  --chamagne: #f3e8c8;
  --gold-light: #e6c76a;
  --gold: #d4af37;
  --gold-dark: #8a6218;
}

[data-theme="dark"]{
  --bg: #0b0b0b;
  --text: #f4f4f4;
  --muted: rgba(225, 225, 225, 0.65);
  --card: #1a1a1a;
  --border: #fff;
  --nav: rgba(20, 20, 20, 0.8);
  --spotlight-color-hover: rgba(225, 225, 225, 0.25);
}

[data-theme="light"]{
  --bg: #fafafa;
  --text: #111;
  --border: #111;
  --muted: rgba(0, 0, 0, 0.85);
  --card: #fff;
  --nav: rgba(225, 225, 225, 0.85);
  --spotlight-color-hover: rgba(30, 30, 30, 0.25);
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
}

.App{
    font-family: var(--font-body), sans-serif;
    font-weight: 400;
    background: var(--bg);
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6{font-family: var(--font-heading); font-weight: 600;}

code, pre{font-family: var(--font-code);}

.custom-cursor {
  width: 15px;
  height: 15px;
  background: var(--gold);
  border-radius: 50%;
  mix-blend-mode: difference;
  position: fixed;
  top: 0;
  left: 0;

  transform: translate(-50%, -50%);

  pointer-events: none;
  z-index: 9999;
}

.stat-card.card{
  background: var(--card);
}