@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Manrope:wght@200..800&family=Syne:wght@400..800&display=swap');

:root{
  --font-heading: "Syne", sans-serif;
  --font-body: "Manrope", sans-serif;
  --font-code: "JetBrains Mono", monospace;
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
}

.App{
    font-family: var(--font-body), sans-serif;
    background: var(--bg);
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6{font-family: var(--font-heading);}

code, pre{font-family: var(--font-code);}

.custom-cursor {
  width: 12px;
  height: 12px;
  background: white;
  border-radius: 50%;

  position: fixed;
  top: 0;
  left: 0;

  transform: translate(-50%, -50%);

  pointer-events: none;
  z-index: 9999;
}